* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgba(58, 56, 56, 0.877);
  color: aliceblue;
}
.container {
  padding: 10px;
}
h1 {
  padding: 12px 0;
}
.btn-style {
  padding: 5px;
  text-decoration: none;
  background-color: rgb(235, 110, 151);
  color: white;
  border-radius: 5px;
}
ul li {
  list-style: none;
}
nav {
  background-color: rgb(187, 116, 151);
  padding: 10px 15px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  color: white;
}
nav ul {
  display: flex;
  justify-content: space-around;
}
nav ul li {
  padding-left: 20px;
  list-style: none;
}
.people ul li {
  padding-left: 20px;
  list-style: none;
}
.submit {
  color: aliceblue;
  background-color: rgb(157, 86, 223);
  width: 10em;
}
